/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
  This animates when order is added to the order list. See <CSSTransitionGroup> tag in Order.js
*/
.order-enter
  background red
  transition all 0.5s
  /* Move the order off screen horizontally */
  transform translateX(-120%)
  max-height 0
  /* Override the default in CSS with "!important" */
  padding 0 !important
  /* "&." is the same as ".order-enter.order-enter-active". The "&" is replaced by the parent selector */
  &.order-enter-active
    background yellow
    /* Max height was originally 0, animate it from 0 to 60px. Can't use auto height because you can only transition from fixed height */
    max-height 60px
    padding 2rem 0 !important 
    transform translateX(0)

/*
  This animates when order is removed from the order list
*/  
.order-exit
  transition all 0.5s
  transform translateX(0)
  &.order-exit-active
    transform translateX(120%)
    max-height 0
    padding 0;

.count-enter
  background: red
  transition .5s
  transform translateY(100%)
  &.count-enter-active
    background: yellow
    transform translateY(0)

.count-exit
  background: black
  transform translateY(0)
  transition .5s
  position absolute
  left 0
  bottom 0
  &.count-exit-active
    background green
    transform translateY(-100%) scale(3)